@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200..800;1,200..800&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--black);
  --black: #222;
  --blue: #1c3262;
  --blue-light: #c6dbe8;
  --orange: #ff914d;
  --red: #ff4d62;
  /* change red color */
  --max-content-width: 1200px;
  --min-side-padding: 2rem;
  --border-radius: 10px;
  --shadow: 1px 1px 5px var(--black);
}

@media (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: var(--blue);
}

p {
  line-height: 1.5;
}

a:hover {
  filter: brightness(1.2);
}

img {
  max-height: 100%;
  max-width: 100%;
  border-radius: var(--border-radius);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > * {
  flex: 0 0 auto;
  width: 100%;
}

div.container {
  max-width: min(
    var(--max-content-width),
    calc(100% - 2 * var(--min-side-padding))
  );
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#header {
  height: 7rem;
  background-color: var(--blue);
}

@media (max-width: 600px) {
  #header {
    height: 5rem;
  }
}

#header > div.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 75%;
}

#logo:hover {
  filter: brightness(0.9);
}

#links > a {
  color: var(--blue-light);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

#links > a:hover {
  text-decoration: underline;
}

#links > :not(:last-child) {
  margin-right: 1em;
}

main {
  flex-grow: 1;
  margin-bottom: 8rem;
}

.navigation-cards {
  background-color: var(--orange);
  padding: 3rem 0 3rem 0;
}

.navigation-cards > .container {
  display: flex;
  justify-content: space-evenly;
}

.navigation-card {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 20rem;
  color: var(--blue-light);
  background-color: var(--blue);
  border-radius: var(--border-radius);
  text-align: center;
  text-decoration: none;
}

.navigation-card:hover {
  box-shadow: var(--shadow);
}

.navigation-card > :first-child {
  margin-top: 0;
}

.profiles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: stretch;
}

.profile {
  width: 22rem;
  background-color: var(--blue-light);
  border-radius: var(--border-radius);
  padding: 1.5rem;
}

.profile > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile > :first-child {
  margin-top: 0;
}

.profile > :last-child {
  margin-bottom: 0;
}

.profile > h3 {
  margin-bottom: 0;
}

.profile > .position {
  margin-top: 0.5rem;
}

.profile > img {
  height: 12rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#footer {
  padding-top: 2rem;
  background-color: var(--blue);
  color: var(--blue-light);
}

#footer a {
  color: var(--blue-light);
}

button {
  background-color: var(--blue);
  font-weight: bold;
}

.register-button {
  display: block;
  font-size: 1rem;
  font-family: inherit;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 1rem;
  border: none;
}

.register-button:hover {
  box-shadow: var(--shadow);
}

.register-button > a {
  color: white;
  text-decoration: none;
}

.alert {
  background-color: var(--red);
  text-align: center;
  color: white;
  font-weight: 700;
}
